#form-container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  transform: translateY(-50%);
}
#result-container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-25%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.bmi-color1 {
  color: #082E79;
}

.bmi-color2 {
  color: #4169E1;
}

.bmi-color3 {
  color: #ACE1AF;
}

.bmi-color4 {
  color: #CDEBA7;
}

.bmi-color5 {
  color: #FFFF99;
}

.bmi-color6 {
  color: #FDE456;
}

.bmi-color7 {
  color: #CF2929;
}

.bmi-color8 {
  color: #801818;
}