<div id="container">

  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
      Components</a></p>


  <ion-item>
    <ion-label position="stacked">Mass [{{ massUnit | translate}}] <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [formControl]="selectMass" required type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Height [{{heightUnit | translate }}] <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input [formControl]="selectHeight" required type="number"></ion-input>
  </ion-item>

  <ion-button expand="full" color="secondary" (click)="showBmi()"
    [disabled]="selectMass.invalid || selectHeight.invalid">Count</ion-button>

  <strong *ngIf="bmiValue" [ngClass]="bmiColor" (click)="showInfo()">{{ bmiValue }}</strong>

  <div *ngIf="bmiValue && userClicked">
    <app-bmi-information mass="{{selectMass.value}}" height="{{selectHeight.value}}" bmiValue="{{bmiValue}}"
      massUnit="{{massUnit}}" heightUnit="{{heightUnit}}" bmiCategory="{{bmiCategory}}"></app-bmi-information>
  </div>
</div>