<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'tab3Name' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{'tab3Name' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1> {{'aboutAuthorName' | translate}}</h1>
    <h1> {{'aboutAuthorAge' | translate}}</h1>
    <h1> {{'aboutAuthorInterests' | translate}}</h1>
  </div>
  <div class="center">
    <img src="../../assets/cardi.png" />
  </div>

</ion-content>