.bmi-color1 {
    color: #082E79;
  }
  
  .bmi-color2 {
    color: #4169E1;
  }
  
  .bmi-color3 {
    color: #ACE1AF;
  }
  
  .bmi-color4 {
    color: #CDEBA7;
  }
  
  .bmi-color5 {
    color: #FFFF99;
  }
  
  .bmi-color6 {
    color: #FDE456;
  }
  
  .bmi-color7 {
    color: #CF2929;
  }
  
  .bmi-color8 {
    color: #801818;
  }